name: Build and publish to docker repo

on: workflow_dispatch

jobs:
  build_and_publish:
    name: Build and publish docker image
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v5
      # Setup metadata based on the commit/tag that will be used for tagging the image
      - name: Setup Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            datastax/cassandra-data-migrator
          flavor: |
            latest=auto
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}.x
            type=semver,pattern={{major}}.x
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64