# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Publish to GitHub Packages Apache Maven
      run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}

  clean:
    name: Cleanup Packages
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Delete 4.x & 5.x Package Versions
        uses: actions/delete-package-versions@v5
        with:
          package-name: 'datastax.cdm.cassandra-data-migrator'
          package-type: 'maven'
          min-versions-to-keep: 7
          ignore-versions: '^4\.6\.1$'
      - name: Delete 3.x Package Versions
        uses: actions/delete-package-versions@v5
        with:
          package-name: 'datastax.astra.migrate.cassandra-data-migrator'
          package-type: 'maven'
          min-versions-to-keep: 6
